[*.cs]

# IDE0025: Use expression body for properties
csharp_style_expression_bodied_properties = false:silent

# IDE0027: Use expression body for accessors
csharp_style_expression_bodied_accessors = true:silent
